body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}
h1 {
    margin-bottom: 20px;
}
.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
.icon {
    margin-right: 10px;
}
input {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #0056b3;
}
.error-message {
    color: red;
    margin-top: 10px;
    display: none;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}
footer a {
    color: #f1c40f;
    text-decoration: none;
    margin: 0 10px;
}
footer a:hover {
    text-decoration: underline;
}
.spacer {
    height: 500px; /* Ajusta esta altura según sea necesario */
}